.character-filter-container {
    display: flex;
    justify-content: flex-end; /* Align the button to the right */
    margin-bottom: 16px; /* Add some space below the button */
  }
  
  .toggle-button {
    align-self: flex-start; /* Align the button to the top */
  }