.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: blue;
}

nav a:hover {
  text-decoration: underline;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minmax value as needed */
  gap: 16px; /* Adjust the gap between items as needed */
}

.character-list .MuiListItem-root {
  width: 100%; /* Ensure the list items take full width of the grid cell */
}

.character-filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minmax value as needed */
  gap: 8px; /* Adjust the gap between items as needed */
}

.character-filter .MuiFormControlLabel-root {
  margin: 8px; /* Adjust the margin as needed */
  width: 200px; /* Set a fixed width for the filter buttons */
}

.character-filter .MuiCheckbox-root {
  width: 32px; /* Increase the size of the checkbox */
  height: 32px; /* Increase the size of the checkbox */
}

.character-filter .MuiFormControlLabel-label {
  font-size: 1.2em; /* Increase the font size of the label */
}

@media (max-width: 400px) {
  .character-filter {
    justify-content: center; /* Center align the filter buttons */
  }
}